<section class="experience">
  <h1>Experience</h1>
  <div class="job">
    <h2>Project Engineer</h2>
    <p>Company: Wipro | Exp: 2+ years</p>
    <p>Joined: 16 May 2022</p>
    <div class="client">
      <h3>Client-1</h3>
      <ul>
        <li>Contributed to a Japanese company's Windows application...</li>
        <li>Used debugging techniques to identify issues and fixed bugs.</li>
        <li>Conducted thorough UI testing...</li>
        <li>
          Played an integral role in the ongoing support and maintenance...
        </li>
      </ul>
    </div>
    <div class="client">
      <h3>Client-2</h3>
      <ul>
        <li>Contributed to Web Application for a US company...</li>
        <li>Created a user-friendly website interface...</li>
        <li>Implemented robust</li>
      </ul>
    </div>
  </div>
</section>
