<section class="experience">
  <div class="exp"><h1>Experience</h1></div>
  <div class="job">
    <h2>Project Engineer</h2>
    <p>Company: Wipro | Exp: 2+ years</p>
    <p>Joined: 16 May 2022</p>
    <div class="client">
      <h3>Client-1</h3>
      <ul>
        <li>
          I contributed to a Japanese company's Windows application dedicated to
          microscope-related image processing, developed using <b>C#</b> and
          <b>WPF</b> within <b>.Net Framework 4.7</b>.
        </li>
        <li>
          Used <b>debugging</b> techniques to identify issues and fixed bugs.
        </li>
        <li>
          Conducted thorough <b>UI testing</b> to identify and rectify any user
          interface issues, ensuring a seamless user experience.
        </li>
        <li>
          Played an integral role in the ongoing support and maintenance of the
          application, actively engaging with the architect and team lead to
          share ideas for releasing bug-free application
        </li>
        <br />
        <li>Tools : <b>C#, WPF, Tortoise SVN</b></li>
      </ul>
    </div>
    <div class="client">
      <h3>Client-2</h3>
      <ul>
        <li>
          Contributed and maintained a credentials management system for a US
          company. Built with <b>.Net core 6</b>.
        </li>
        <li>
          Created a user-friendly website interface where testers can easily
          request and manage credentials.
        </li>
        <li>
          Facilitated smoother collaboration among testers, streamlining the
          process of acquiring credentials. By simplifying credential
          management, ultimately enhancing productivity and efficiency within
          the company's testing operations.
        </li>
        <br />
        <li>Tools : <b>C#, ASP.NET Core, MVC, Bootstrap</b></li>
      </ul>
    </div>
  </div>
</section>
