.experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 2rem;
  background-color: var(--bg2-color);
  text-align: center;
  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.job {
  width: 80%;
  margin: auto;
  text-align: left;
}

.client {
  margin-top: 1rem;
  background: rgba(255, 255, 255, 0.2);
  padding: 1rem;
  border-radius: 0.5rem;
}

.client h3 {
  margin-bottom: 0.5rem;
}

.client ul {
  list-style: disc;
  margin-left: 1.5rem;
}
