/* Styles for the header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--bg-color);
  border-bottom: 1px solid var(--text-color);
}

.logo {
  font-size: 1.8rem;
  font: bold;
  color: #810ca8;
}

.logo:hover {
  color: var(--text-color);
}

nav {
  position: relative;
}

ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

ul.active {
  display: block;
}

li {
  display: inline;
}

a,
button {
  color: var(--text-color);
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
}

button:hover {
  color: #810ca8;
}

a:hover {
  color: #810ca8;
}

.menu-toggle {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  ul {
    display: none;
    flex-direction: column;
    position: absolute;
    border-top: 1px solid var(--text-color);
    border-bottom-left-radius: 10%;
    margin-right: 0px;
    right: -16px;
    background-color: #6d6b6b;
    padding: 1rem;
    width: 200px;
  }

  ul.active {
    display: flex;
  }

  li {
    margin: 0.5rem 0;
  }

  .logo {
    font-size: 1.5rem;
    position: absolute;
    left: 15px;
  }

  header {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    position: relative;
  }
}
