<section class="projects">
  <div class="pro"><h1>Projects</h1></div>
  <div class="all-projects">
    <div class="project">
      <img src="/assets/Images/Project1_Image.png" alt="Project 1 Image" />
      <h2>Portfolio-Website</h2>
      <p>
        This is my portfolio website, highlighting my projects, skills, and
        experiences, showcase of my work and capabilities.
      </p>
      <p><strong>Technologies Used:</strong> Angular, HTML, CSS, Typescript</p>
      <div class="links">
        <a href="https://github.com/ratneshx175/Ratneshx" target="_blank"
          >GitHub</a
        >
        <a href="https://ratneshx.netlify.app/" target="_blank">Live Demo</a>
      </div>
    </div>
    <div class="project">
      <img src="/assets/Images/Project2_Image.png" alt="Project 2 Image" />
      <h2>E-Commerce</h2>
      <p>E-commerce website with product CRUD management.</p>
      <p>
        <strong>Technologies Used:</strong> C#, ASP.Net Core MVC 7, EF Core,
        Identity, SQL-Server, Bootstrap, HTML-CSS
      </p>
      <div class="links">
        <a
          href="https://github.com/ratneshx175/KajalEnterprises"
          target="_blank"
          >GitHub</a
        >
        <a href="https://kentdummy.bsite.net/" target="_blank">Live Demo</a>
      </div>
    </div>
    <div class="project">
      <img src="/assets/Images/Project3_Image.png" alt="Project 3 Image" />
      <h2>ContactBook</h2>
      <p>Contact book application with CRUD operations functionality.</p>
      <p>
        <strong>Technologies Used:</strong> C#, ASP.Net Core MVC 7, EF Core,
        SQL-Server, Bootstrap, HTML-CSS
      </p>
      <div class="links">
        <a href="https://github.com/ratneshx175/ContactBook" target="_blank"
          >GitHub</a
        >
        <a href="https://contactbook175.bsite.net/" target="_blank"
          >Live Demo</a
        >
      </div>
    </div>
  </div>
</section>
