* {
  margin: 0;
  padding: 0;
}

.about {
  display: flex;
  height: 100vh;
  max-width: 100%;
  text-align: left;
  animation: fadeIn 2s ease-in-out;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.name {
  font-size: 60px;
  margin-bottom: 15%;
  margin-top: 200px;
  margin-left: 50px;
}

h1 {
  margin: 0px;
}

.part1,
.part2 {
  width: 50%; /* Each part takes 50% of the width */
}

p {
  line-height: 1.6;
  font-size: large;
  max-width: 44rem;
  margin-left: 50px; /* Optional: Adjust line height for readability */
}

.wheel-container {
  position: absolute;
  right: 0px;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 50%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-wrap: break-word;
}

.wheel {
  position: absolute;
  left: 10%;
  display: flex;
  align-items: center;
  flex-direction: column;
  transform: rotate(calc(360deg / 4 * var(--i)));
  transform-origin: 360px;
  background-color: var(--bg-color);
  overflow-wrap: break-word;
}

@media (min-width: 800px) and (max-width: 1450px) {
  .wheel {
    transform-origin: 250px;
    h3 {
      font-size: 2rem;
    }
  }
}
@media (min-width: 1350px) and (max-width: 1600px) {
  .wheel {
    transform-origin: 300px;
    h3 {
      font-size: 2.5rem;
    }
  }
}

h3 {
  font-size: 3.2rem;
  line-height: 1;
  font-weight: 600;
  color: #810ca8;
  animation: fadeIn 2s ease-in-out;
}

.circle {
  width: 70vh;
  height: 70vh;
  border: 3px solid #810ca8;
  border-radius: 50%;
}

.overlay {
  position: absolute;
  right: 0px;
  width: 0;
  height: 0;
  border-top: 50vh solid #810ca8;
  border-right: 50vh solid #810ca8;
  border-bottom: 50vh solid #810ca8;
  border-left: 50vh solid transparent;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-90deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  75% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.wheel-container {
  animation: rotate 10s linear infinite;
}

ul {
  list-style: none;
  font-size: 50px;
  position: absolute;
  padding-left: 300px;
  bottom: -200px;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

/* make responsive to phone */

@media (max-width: 800px) {
  .about {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100wv;
    text-align: center;
    animation: fadeIn 2s ease-in-out;
    padding: 0;
    margin: 0;
  }

  .part1,
  .part2 {
    height: 45vh;
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .name {
    font-size: 10px;
  }

  p {
    line-height: 1.6;
    font-size: small;
    margin-left: 50px;
  }

  .wheel-container {
    right: 0px;
    margin: 0;
    padding: 0;
    height: 40%;
    width: 75%;
    left: 10%;
    border-radius: 50%;
    text-align: center;
    overflow-wrap: break-word;
  }

  .wheel {
    position: absolute;
    left: -0.5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    transform: rotate(calc(360deg / 4 * var(--i)));
    transform-origin: 150px;
    background-color: var(--bg-color);
    overflow-wrap: break-word;
  }
  .circle {
    width: 60vw;
    height: 60vw;
    border: 3px solid #810ca8;
    border-radius: 50%;
  }
  h3 {
    font-size: 1rem;
    line-height: 2;
    font-weight: 600;
    color: #810ca8;
    animation: fadeIn 2s ease-in-out;
  }

  .overlay {
    position: absolute;
    display: flex;
    width: 0;
    height: 0;
    border-top: 50vw solid transparent;
    border-right: 50vw solid #810ca8;
    border-bottom: 50vw solid #810ca8;
    border-left: 50vw solid #810ca8;
  }

  ul {
    padding: 0px;
    display: flex;
    top: 5vh;
    left: -35vw;
    justify-content: center;
    flex-direction: row;
  }

  .part1 {
    display: flex;
    flex-direction: column;
  }

  .name {
    font-size: 20px;
    margin-bottom: 20%;
    margin-top: 0px;
    margin-left: 0px;
  }

  p {
    line-height: 1.6;
    font-size: small;
    max-width: 90vw;
    text-align: center;
    margin-left: 0px; /* Optional: Adjust line height for readability */
  }
}

@media (max-width: 400px) {
  .wheel {
    transform-origin: 130px;
  }
}
